#expercience {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.expercienceTitle {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}

.expercienceBars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}

.expercienceBar {
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background-color: rgb(70, 70, 70);
}

.expercienceBarImg {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.skillBarImg:hover {
  transform: scale(1.2);
}

.expercienceBarText > p {
  font-size: 0.9rem;
  font-weight: 200;
}

@media screen and (max-width: 720px) {
  .expercienceBarText > p {
    font-size: 2vw;
  }
}

@media (max-width: 480px) {
  .expercienceBar {
    display: flex;
    flex-direction: column; /* Stack the image and text vertically */
    align-items: center; /* Center align content horizontally */
    justify-content: center; /* Center align content vertically if needed */
    text-align: center; /* Center text within the text div */
  }

  .expercienceBarImg {
    width: 50px; /* Make image responsive */
    height: 50px;
    max-width: 200px; /* Optional: limit the maximum width of the image */
    margin-bottom: 1rem; /* Space between image and text */
  }

  .expercienceBarText {
    width: 90%; /* Adjust text width to make it responsive */
    padding: 0 10px; /* Optional padding for better readability */
  }

  .expercienceBar h2,
  .expercienceBar h4,
  .expercienceBar h5,
  .expercienceBar p {
    margin: 0.5rem 0; /* Space out the text elements */
  }

  .expercienceBar p {
    font-size: 1rem;
    text-align: left;
  }
}

/* @media screen and (max-width: 480px) {
  .expercienceBarText > p {
    font-size: 3.5vw;
  }
  .expercienceBarImg {
    height: 2.25rem;
    width: 2.25rem;
  }
  .expercienceBarText > h2 {
    font-size: 5vw;
  }
} */
